<?xml version="1.0" encoding="utf-8"?>
<!--根标签-->
<fo:root xmlns="http://www.w3.org/2001/XMLSchema"
         xmlns:fo="http://www.w3.org/1999/XSL/Format"
         xmlns:fox="http://xmlgraphics.apache.org/fop/extensions"
         xmlns:xe="http://www.x-easypdf.cn/ns"
         xmlns:svg="http://www.w3.org/2000/svg">
    <fo:layout-master-set>
        <fo:simple-page-master master-name="page">
            <fo:region-body/>
        </fo:simple-page-master>
    </fo:layout-master-set>
    <fo:page-sequence master-reference="page">
        <fo:flow flow-name="xsl-region-body">
            <fo:block>hello</fo:block>
        </fo:flow>
    </fo:page-sequence>
</fo:root>